<div class="container">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
        <div class="col-md-8 p-lg-6 mx-auto my-5">
            <h1 class="display-5 fw-bold py-4"> Somos uma plataforma completa de Palestras e Webinar </h1>
            <p class="lead fw-normal">Explore o Calendário de Eventos e Encontre as Melhores Oportunidades de Networking e Aprendizado na Sua Área!</p>
        </div>
    </div>
    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Eventos disponiveis.</h2>
            <div class="row row-cols-1 row-cols-sm-5 row-cols-md-3 g-3">
            {% for palestra in data.palestras %}
            {% if data.ess.time("timestamp",palestra["data"]) > data.ess.time("timestamp") %}
            <a class="" href="/palestra/{{palestra['unicode']}}">
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card">
                            <img src="/static/img/card01.png" class="card-img-top" alt="..." style="width: 100%; height: 100%;">
                            <div class="card-body">
                                <h5 class="card-title">{{palestra["titulo"]}}</h5>
                                <p class="card-text text-truncate" style="max-height: 2rem;">{{palestra["descricao"]}}</p>
                                <ul class="d-flex list-unstyled mt-5">
                                    <li class="me-auto">
                                        <img src="/static/img/avata01.svg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                                    </li>
                                    <li  class="d-flex align-items-center me-3">
                                        <iconify-icon icon="ph:map-pin" width="18"></iconify-icon>
                                        <small>{{palestra["tipo"]}}</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
            </div>
    </div>
</div>