<div class="container">
    {% if data.detail == "" %}
        {% if data.sessions[data.sid]["user"]["rank"] in data.conf.permissions["palestra"]["cadastrar"]["rank"] %}
        <h3>Cadastro de palestra</h3>
        <p></p>
            <form id="form">
                <div class="mb-4">
                    <label for="titulo" class="form-label">Titulo para Palestra</label>
                    <input type="text" class="form-control" id="titulo" placeholder="Digite um titulo.">
                    <label for="titulo" class="form-label">Data para Palestra</label>
                    <input type="datetime-local" class="form-control" id="data">

                    <h5>Tipo da Palestra:</h5>
                    <select id="tipo">
                        <option value="">Selecione ...</option>
                        {% for opcao in data.conf.tipo_palestras %}
                            <option value="{{opcao}}">{{opcao}}</option>
                        {% endfor %}
                    </select>


                    <label for="descricao" class="form-label">Descreva a sua Palestra</label>
                    <textarea class="form-control" id="descricao" rows="3"></textarea>
                    <label for="titulo" class="form-label">Duração da Palestra</label>
                    <select id="duracao">
                        <option value="">Selecione ...</option>
                        {% for opcao in data.conf.duracao_palestras %}
                            <option value="{{opcao}}">{{opcao}} minutos</option>
                        {% endfor %}
                    </select>
                    <h5>link da palestra</h5>
                    <input type="url" class="form-control" id="link" placeholder="Digite o link da palestra.">
                    <label for="link" class="form-label">Coloque o link aqui.</label>
                </div>
            </form>

            <button id="send" class="btn btn-primary">Cadastrar</button>
        {% else %}
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
            <div class="col-md-8 p-lg-6 mx-auto my-5">
                <img src="/static/img/undraw_warning_re_eoyh.svg" alt="" width="300" height="300">
            </div>
            <h1 class="display-5 fw-normal py-4">Palestra Nao Informada</h1>
        </div>
        {%endif%}

    {% elif data.error == "" %}
        {% for palestra in data.palestras %}
            {% if palestra["unicode"] == data.detail %}
            <div class="rounded-2p-5 mb-1 bg-body-tertiary rounded-3">
                <img src="/static/img/{{ range(1, 6)|random }}.png" class=" w-100 p-1" alt="...">
            </div>
            <div class="rounded-2p-5 mb-lg-1 bg-body-tertiary rounded-3">
                <div class="container-fluid py-lg-1" id="form">
                    <h1 class="display-5 fw-bold">{{palestra["titulo"]}}</h1>
                    <p class="col-md-8 fs-4"> {{palestra["descricao"]}} </p>

                    <ul class="d-flex align-items-center me-lg-1">
                        <p class="pe-4">
                            <iconify-icon icon="ph:calendar-check" width="18" class="icon-18"></iconify-icon>
                            {{ data.ess.dateFormat(palestra["data"], '%d/%m às %H:%M') }}
                        </p>
                        <p class="pe-4">
                            <iconify-icon icon="ph:chalkboard-teacher" width="18" class="icon-18"></iconify-icon>
                            {{palestra["duracao"]}}
                        </p>
                        <p class="pe-4">
                            <iconify-icon icon="ph:map-pin" width="18" class="icon-18"></iconify-icon>
                            {{palestra["tipo"]}}
                        </p>
                    </ul>
                    {% if data.ess.time("timestamp",palestra["data"]) > data.ess.time("timestamp") %}
                        {% if data.sessions[data.sid]["user"]["rank"] == "10" %}
                            <a class="btn btn-primary" href="/entrar">Participar!</a>
                        {% elif not data.sessions[data.sid]["user"]["id"] in palestra["participantes"] %}
                            <button class="btn btn-primary" id="btnParticipar" unicode="{{ palestra['unicode']}}">Participar!</button>
                        {% else %}
                            <p>Voce esta participando desta palestra.</p>
                            <button class="btn btn-success" style="cursor: not-allowed;">
                                <iconify-icon icon="ph:check" width="18" class="icon-18"></iconify-icon>
                                Participando
                            </button>
                            <a class="btn btn-primary" href="/sala/{{palestra['unicode']}}" target="_blank">
                                <iconify-icon icon="ph:eye" width="18" class="icon-18"></iconify-icon>
                                Assistir
                            </a>
                        {% endif %}
                    {% elif data.sessions[data.sid]["user"]["id"] in palestra["participantes"] %}
                        <p>Voce esta participando desta palestra.</p>
                        <button class="btn btn-success" style="cursor: not-allowed;">
                            <iconify-icon icon="ph:check" width="18" class="icon-18"></iconify-icon>
                            Participando
                        </button>
                        <a class="btn btn-primary" href="/sala/{{palestra['unicode']}}" target="_blank">
                            <iconify-icon icon="ph:eye" width="18" class="icon-18"></iconify-icon>
                            Assistir
                        </a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% else %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
            <div class="col-md-8 p-lg-6 mx-auto my-5">
                <img src="/static/img/undraw_warning_re_eoyh.svg" alt="" width="300" height="300">
            </div>
            <h1 class="display-5 fw-normal py-4">{{ data.error }}</h1>
    </div>
    {% endif %}
</div>

