body{
    background-color: #fafafa;
}
.icon-18{
    margin-bottom: -3px;
}
.btn-success{
    background-color:#27AE60;
}
.texto-logo-primario{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #27AE60;
}
.texto-logo-secundario{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
}
.bg-purple {
    background:#2980b9;
}