<footer class="footer footer-expand-lg footer-dark bg-dark container-fluid ">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between m-auto">
            <div col-md-4 d-flex align-items-center>
                <a href="#" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                    <iconify-icon icon="ph:chalkboard-teacher" width="18"></iconify-icon>
                </a>
                <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Company, Inc</span>
            </div>
        </div>
    </div>
</footer>