<title>{{data.title}} | {{data.conf.sysName}}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta id="sid" content="{{data.sid}}">
<meta id="page" content="{{data.page}}">
<meta id="detail" content="{{data.detail}}">
<meta id="descriptionn" content="{{data.description}}">
<meta id="information" content="{{data.information}}">
<meta id="url" content="{{data.url}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/style.css')}}">
<script src="https://code.iconify.design/3/3.0.0/iconify.min.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>